.git
.github
.data
.next
**/.next
**/dist
**/node_modules
.env
.env.*
!.env.example
packages/cre/secrets.yaml
*.log
.turbo
coverage
contracts/out
contracts/cache
subgraph/generated
subgraph/build
substreams
test-results
playwright-report
**/*.tsbuildinfo
.DS_Store
